.vscode/
.DS_Store
*.log

# web directory
web/node_modules/
web/dist/
.idea/
.trae/
/.claude/settings.local.json
.playwright-mcp/
.mcp.json
**/application-local.yml

node_modules/
dist
.worktrees/
.ccg
.superpowers