<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwei.iot.alarm.mapper.AlarmRecordLogMapper">

    <resultMap type="com.zwei.iot.alarm.domain.AlarmRecordLog" id="AlarmRecordLogResult">
        <id property="id" column="id"/>
        <result property="alarmId" column="alarm_id"/>
        <result property="fromStatus" column="from_status"/>
        <result property="toStatus" column="to_status"/>
        <result property="disposalType" column="disposal_type"/>
        <result property="operator" column="operator"/>
        <result property="disposalResult" column="disposal_result"/>
        <result property="note" column="note"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <insert id="insertLog" parameterType="com.zwei.iot.alarm.domain.AlarmRecordLog">
        INSERT INTO alarm_record_log (alarm_id, from_status, to_status, disposal_type, operator, disposal_result, note,
                                      create_time)
        VALUES (#{alarmId}, #{fromStatus}, #{toStatus}, #{disposalType}, #{operator}, #{disposalResult}, #{note},
                #{createTime})
    </insert>

    <insert id="batchInsertLogs" parameterType="list">
        INSERT INTO alarm_record_log (alarm_id, from_status, to_status, disposal_type, operator, disposal_result, note,
        create_time) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.alarmId}, #{item.fromStatus}, #{item.toStatus}, #{item.disposalType}, #{item.operator},
            #{item.disposalResult}, #{item.note}, #{item.createTime})
        </foreach>
    </insert>

    <select id="selectLogsByAlarmId" resultMap="AlarmRecordLogResult">
        SELECT *
        FROM alarm_record_log
        WHERE alarm_id = #{alarmId}
        ORDER BY create_time ASC
    </select>

</mapper>
