<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwei.module.iot.product.mapper.ProductMapper">
    <resultMap type="com.zwei.module.iot.product.domain.Product" id="ProductResult">
        <id property="id" column="id" />
        <result property="productKey" column="product_key" />
        <result property="name" column="name" />
        <result property="nodeType" column="node_type" />
        <result property="remarks" column="remarks" />
    </resultMap>

    <sql id="selectProductVo">
        select id, product_key, name, node_type, remarks from zw_iot_product
    </sql>

    <select id="selectProductById" parameterType="Long" resultMap="ProductResult">
        <include refid="selectProductVo" />
        where id = #{id}
    </select>

    <select id="selectProductList" parameterType="com.zwei.module.iot.product.domain.Product" resultMap="ProductResult">
        <include refid="selectProductVo" />
        <where>
            <if test="productKey != null  and productKey != ''"> and product_key = #{productKey}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="nodeType != null"> and node_type = #{nodeType}</if>
            <if test="remarks != null  and remarks != ''"> and remarks = #{remarks}</if>
        </where>
    </select>

    <insert id="insertProduct" parameterType="com.zwei.module.iot.product.domain.Product" useGeneratedKeys="true" keyProperty="id">
        insert into zw_iot_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productKey != null  and productKey != ''">product_key,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="nodeType != null">node_type,</if>
            <if test="remarks != null  and remarks != ''">remarks,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productKey != null  and productKey != ''">#{productKey},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="nodeType != null">#{nodeType},</if>
            <if test="remarks != null  and remarks != ''">#{remarks},</if>
         </trim>
    </insert>

    <update id="updateProduct" parameterType="com.zwei.module.iot.product.domain.Product">
        update zw_iot_product
        <set>
            <if test="productKey != null  and productKey != ''">product_key = #{productKey},</if>
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="nodeType != null">node_type = #{nodeType},</if>
            <if test="remarks != null  and remarks != ''">remarks = #{remarks},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteProductById" parameterType="Long">
        delete from zw_iot_product where id = #{id}
    </delete>

    <delete id="deleteProductByIds" parameterType="Long[]">
        delete from zw_iot_product where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>