<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwei.iot.parser.mapper.DataParseStrategyVendorMapper">
    <select id="selectVendorIdsByStrategyId" resultType="long">
        SELECT vendor_id FROM iot_data_parse_strategy_vendor WHERE strategy_id = #{strategyId}
    </select>
    <select id="selectStrategyIdsByVendorId" resultType="long">
        SELECT strategy_id FROM iot_data_parse_strategy_vendor WHERE vendor_id = #{vendorId}
    </select>
    <insert id="insert">
        INSERT INTO iot_data_parse_strategy_vendor (strategy_id, vendor_id) VALUES (#{strategyId}, #{vendorId})
    </insert>
    <delete id="deleteByStrategyId">
        DELETE FROM iot_data_parse_strategy_vendor WHERE strategy_id = #{strategyId}
    </delete>
</mapper>
