<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwei.module.iot.device.mapper.DeviceMapper">
    
    <resultMap type="Device" id="DeviceResult">
        <result property="id"    column="id"    />
        <result property="sn"    column="sn"    />
        <result property="name"    column="name"    />
        <result property="type"    column="type"    />
        <result property="productId"    column="product_id"    />
        <result property="commProtocol"    column="comm_protocol"    />
        <result property="longitude"    column="longitude"    />
        <result property="latitude"    column="latitude"    />
        <result property="powerSupply"    column="power_supply"    />
        <result property="manufacturer"    column="manufacturer"    />
        <result property="parentId"    column="parent_id"    />
        <result property="deviceKey"    column="device_key"    />
        <result property="deviceSecret"    column="device_secret"    />
    </resultMap>

    <sql id="selectDeviceVo">
        select id, sn, name, type, product_id, comm_protocol, longitude, latitude, power_supply, manufacturer, parent_id, device_key, device_secret from zw_iot_device
    </sql>

    <select id="selectDeviceList" parameterType="Device" resultMap="DeviceResult">
        <include refid="selectDeviceVo"/>
        <where>
            <if test="sn != null and sn != ''"> and sn = #{sn}</if>
            <if test="name != null and name != ''"> and name = #{name}</if>
            <if test="type != null and type != ''"> and type = #{type}</if>
            <if test="productId != null"> and product_id = #{productId}</if>
            <if test="commProtocol != null"> and comm_protocol = #{commProtocol}</if>
            <if test="longitude != null"> and longitude = #{longitude}</if>
            <if test="latitude != null"> and latitude = #{latitude}</if>
            <if test="powerSupply != null"> and power_supply = #{powerSupply}</if>
            <if test="manufacturer != null"> and manufacturer = #{manufacturer}</if>
            <if test="parentId != null"> and parent_id = #{parentId}</if>
            <if test="deviceKey != null"> and device_key = #{deviceKey}</if>
            <if test="deviceSecret != null"> and device_secret = #{deviceSecret}</if>
        </where>
    </select>
    
    <select id="selectDeviceById" parameterType="Long" resultMap="DeviceResult">
        <include refid="selectDeviceVo"/>
        where id = #{id}
    </select>

    <insert id="insertDevice" parameterType="Device" useGeneratedKeys="true" keyProperty="id">
        insert into zw_iot_device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sn != null and sn != ''">sn,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="productId != null">product_id,</if>
            <if test="commProtocol != null">comm_protocol,</if>
            <if test="longitude != null">longitude,</if>
            <if test="latitude != null">latitude,</if>
            <if test="powerSupply != null">power_supply,</if>
            <if test="manufacturer != null">manufacturer,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="deviceKey != null">device_key,</if>
            <if test="deviceSecret != null">device_secret,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sn != null and sn != ''">#{sn},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="productId != null">#{productId},</if>
            <if test="commProtocol != null">#{commProtocol},</if>
            <if test="longitude != null">#{longitude},</if>
            <if test="latitude != null">#{latitude},</if>
            <if test="powerSupply != null">#{powerSupply},</if>
            <if test="manufacturer != null">#{manufacturer},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="deviceKey != null">#{deviceKey},</if>
            <if test="deviceSecret != null">#{deviceSecret},</if>
         </trim>
    </insert>

    <update id="updateDevice" parameterType="Device">
        update zw_iot_device
        <trim prefix="SET" suffixOverrides=",">
            <if test="sn != null and sn != ''">sn = #{sn},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="productId != null">product_id = #{productId},</if>
            <if test="commProtocol != null">comm_protocol = #{commProtocol},</if>
            <if test="longitude != null">longitude = #{longitude},</if>
            <if test="latitude != null">latitude = #{latitude},</if>
            <if test="powerSupply != null">power_supply = #{powerSupply},</if>
            <if test="manufacturer != null">manufacturer = #{manufacturer},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="deviceKey != null">device_key = #{deviceKey},</if>
            <if test="deviceSecret != null">device_secret = #{deviceSecret},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDeviceById" parameterType="Long">
        delete from zw_iot_device where id = #{id}
    </delete>

    <delete id="deleteDeviceByIds" parameterType="String">
        delete from zw_iot_device where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>